<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="changePassword">
    <div align="center">
        <h1>Change Password</h1><br/>
        <div ng-show="error"><h3 style="color: red">{{error}}</h3></div><br/>
        <form ng-submit="update()" >
            Old Password:<input type="password" ng-model="password" required="required"><br/>
            New Password:<input type="password" ng-model="newpassword" required="required"><br/>
            <input type="submit" value="Update" class="btn btn-primary">
        </form>

    </div>

</div>

</body>
</html>